#mcis-einstein-decisions {
    text-align: center;
}

#mcis-einstein-decisions .mcis-promotion-link,
#mcis-einstein-decisions .mcis-promotion-img {
    max-width: 100%;
}

#mcis-einstein-decisions .mcis-promotion-img {
    object-fit: contain;
}
